body
{
    height: vh;
    width: vw;
    color: #252525;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.chart
{
    height: 500px;
    width: 900px;
    float: left;
}